body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  width: 360px;
  box-sizing: border-box;
  min-height: 100px;
  margin: auto;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}

.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  font-size: 16px;
  color: #F5F5F5;
  line-height: 1.2;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  padding: 7px 20px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}

.accent-span {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.intro {
  padding: 30px 20px 38px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #CCCCCC;
}

.intro__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.intro__date {
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
}

.intro__main-text p {
  margin-top: 24px;
}

.reasons {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.content-section__subtitle {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
  line-height: 1.15;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 20px;
}

.content-section__introduction {
  line-height: 27px;
}

.content-section__list-item {
  line-height: 21.6px;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.card {
  padding: 20px;
  border-radius: 30px;
}

.card__author {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-bottom: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #FEE42A;
  color: #131313;
}

.card__author-photo {
  width: 100px;
}

.card__author-name {
  font-size: 16px;
  font-weight: 700;
}

.card__title {
  font-size: 22px;
  font-family: 'EB Garamond';
  font-weight: 500;
  line-height: 1.35;
}

.card__text {
  line-height: 21.6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 22px;
  border-top: 1px solid #FEE42A;
}

.footer__copy {
  line-height: 1.35;
}

.footer__links {
  display: flex;
  list-style: none;
  line-height: 1.25;
  column-gap: 16px;
}